body {
  background-color: peachpuff;
}

.container {
margin: 25px;
  height: 640px;
  width: 360px;
  border-radius: 10px;
  border: 1px solid rgb(234, 0, 255);
  justify-self: center;
  box-shadow: 0px 0px 5000000px rgb(255, 0, 85);
  overflow: hidden;
}
.slides {
  display: flex;
  width: fit-content;
  border: 1px solid green;
  position: relative;
}

.movementButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumpCircles
{
    /* width: 100vw; */
    margin: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.jumpCircles > button{
    
    border: 1px solid purple;
    outline: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    cursor: pointer;
}
